h2 {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}

.container {
  margin-bottom: 2rem;
}

ul.analyses {
  margin: 0;
  padding-left: inherit;
}

.analyses li:not(:first-child) {
  margin-top: 0.5rem;
}
