<table id="table" cellspacing="0" class="table table-striped table-bordered" style="width: 100%;">
  <thead>
    <tr>
      <th data-priority="1" data-orderable="false">Defense</th>
      {% if include.published %}
        <th data-priority="7">Venue</th>
      {% endif %}
      <th data-priority="3">Dataset</th>
      <th data-priority="4">Threat Model</th>
      <th data-priority="6" data-orderable="false">Natural Accuracy</th>
      <th data-priority="5" data-orderable="false">Claims</th>
      <th data-priority="2" data-orderable="false">Analyses</th>
    </tr>
  </thead>
  <tbody>
    {% for row in include.src %}
      <tr>
        <td><a href="{{ row.url }}">{{ row.name }}</a> ({{ row.authors }}) (<a href="{{ row.code }}">code</a>)</td>
        {% if include.published %}
          <td data-sort="{{ row.venue_date }}">{{ row.venue }}</td>
        {% endif %}
        <td>{{ row.dataset }}</td>
        <td>{{ row.threat_model }}</td>
        <td>{{ row.natural | markdownify }}</td>
        <td>{{ row.claims | markdownify }}</td>
        <td>
          <ul class="analyses">
          {% for analysis in row.analyses %}
            <li>{{ analysis.claims }} [<a href="{{ analysis.url }}">{{ analysis.citation }}</a>] (<a href="{{ analysis.code }}">code</a>){% if analysis.note %} <span class='footnote' data-toggle="tooltip" title="{{ analysis.note }}"></span>{% endif %}</li>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('#table').DataTable({
      responsive: true,
      paging: false,
      info: false,
      order: [[1, 'desc']],
      drawCallback: function(settings) {
        MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
      },
    }).on('responsive-display', function() {
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    });
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
<noscript>
  The table above may not display properly without Javascript.
</noscript>
