---
layout: null
---
<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53167467-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-53167467-9');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.description %}
      {% assign description = page.description %}
    {% else %}
      {% assign description = site.description %}
    {% endif %}
    <meta name="description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
    {% if page.short_title %}
      {% assign title = page.short_title %}
    {% elsif page.title %}
      {% assign title = page.title %}
    {% else %}
      {% assign title = site.title %}
    {% endif %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="og:title" content="{{ title }}">
    {% if page.thumbnail %}
      <meta name="twitter:image:src" content="{{ page.thumbnail | prepend: site.url }}">
      <meta property="og:image" content="{{ page.thumbnail | prepend: site.url }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.logo | prepend: site.url }}">
      <meta property="og:image" content="{{ site.logo | prepend: site.url }}">
    {% endif %}
    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% for link in site.data.nav %}
            <li class="nav-item {% if page.url == link.url %}active{% endif %}">
              <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
    {{ content }}
    </main>
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-lg-10 col-xl-8">
            <div id="footer" class="text-center">
              <p>build <a href="{{ site.github.repository_url }}/tree/{{ site.github.build_revision }}">{{ site.github.build_revision | truncate: 10, '' }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
